.time {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  flex: 1 0 200px;
  flex-direction: row;
}
@media screen and (max-width: 575px) {
  .time {
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
  }
}
.aaaa {
  margin-left: 1vh;
  margin-right: 1vw;
}
.inputs {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

input {
  height: 50px;
  border: none;
  width: 100px;
  border-radius: 100px;
  background-color: rgba(240, 248, 255, 0);
}
